[2020-05-24 10:12] Rerago opened #2 "Different Runebook forks"
Hello, everyone,

currently there are roughly 4 current Runebook forks. Wouldn't we rather limit ourselves to an active one and work together?

@lowyiyiu
@TinyRaindrop
@Pwn2OwnLive
@Soundofdarkness

What do you think? I'm gonna go ahead and contribute to this one.

[2020-05-24 10:20] TinyRaindrop commented on #2
Hi!
So after the version thing broke I looked around for a working app and decided to fix it myself. Afterwards, I looked better and found that other people also continue the development, which is awesome.

There's also @DanielOrtez

I'd prefer if we all worked together on one project.

[2020-05-24 10:25] Soundofdarkness commented on #2
Hey :)
Generally, exactly the same happened for me. It broke, I saw that it wasn't maintained anymore, and forked it.

But I fully agree to just have one fork running and all help on that one. Im open to help on whatever version/fork is wanted :)

[2020-05-24 10:39] TinyRaindrop commented on #2
This repo seems to be [the first working fork](https://github.com/Soundofdarkness/RuneBook/releases/tag/v1.8.14), it also has astounding **seven** people who starred the project (insane popularity), so I guess we could pour in here.

[2020-05-24 10:54] Soundofdarkness commented on #2
Well, that certainly works then :)
I'd say we can just wait a day or two if the maintainers of the two other forks chime in as well and then we could start updating things.
(And I should probably start on properly setting up the repository after that)

[2020-05-24 12:25] Rerago opened #4 "Missing rune images"
I have a problem, which is probably due to my surroundings.

The pictures are not displayed correctly. @lowyiyiu has fixed this problem in his version. In which he added the following:

`<div style="display:flex;align-items:center">`

Now I wonder if there might be a solution with "semantic-ui-css" (which is used here). I'm just quite new to javascript/web development. I usually work more in the b

[2020-05-24 13:07] DanielOrtez commented on #2
I think that's a great idea. What would be the main repository?

[2020-05-24 13:51] TinyRaindrop commented on #2
I suggest we keep this one, seems like a good ground.

[2020-05-24 13:54] TinyRaindrop commented on #4
you could keep semantic-ui-css@2.2.14

[2020-05-24 13:58] Rerago commented on #4
I have the problem even without changing versions.

I think it has something to do with my environment. But with the above mentioned change it works.

For example, I have no Chrome installed but only Edge.

[2020-05-24 13:59] TinyRaindrop opened #6 "Reorder / rename local pages"
[Original issue here](https://github.com/OrangeNote/RuneBook/issues/79)

Right now there's no way of managing local pages apart from uploading them to client, modifying there, and saving again, which puts the page on the last place.

Would be nice to be able to reorder them, maybe rename too (latter is not a priority for me).

[2020-05-24 14:05] TinyRaindrop opened #7 "Selected champion is cleared upon entering champ select"
When auto-select is enabled, entering champ select clears current champion, which is annoying.

Solution: don't reset the champion until user has locked in.

[2020-05-24 14:08] Pwn2OwnLive commented on #2
Hello all,

I would be glad to contribute to this project. I forked the repo when I saw
that Runebook wasn't working
since I save a lot of local rune pages to switch to and it was a good
opportunity to support my stream. :)

On Sun, May 24, 2020 at 4:51 PM TinyRaindrop <notifications@github.com>
wrote:

[2020-05-24 14:11] TinyRaindrop commented on #4
You don't need to have anything but Node.js installed.

package.json specifies versions for dependencies, it's "^2.2.14" for semantic-ui. So it's updated to the last minor version - 2.4.2, which breaks the images.

Change to "~2.2.14" or "~2.3.0", then run **npm install** again.

[2020-05-24 14:19] Rerago commented on #4
On my client the images are also broken under v2.2.14. Even @lowyiyiu (who made the above mentioned adjustment) still uses v2.2.14.

So I guess we have the same problem

[2020-05-24 14:24] Rerago opened #9 "rework runes.lol"
runes.lol only works halfway (some runes are not taken over correctly).

You can see the whole thing very well when you use "Shen".

I think in the end we could rewrite the plugin since they only redirect to "lolalytics" anyway. And they actually use a nice json interface.

[2020-05-24 14:26] Rerago opened #10 "add metasrc"
The site is super straight in terms of alternative modes like URF/AURF/ARAM etc.

[2020-05-24 14:28] TinyRaindrop commented on #4
Go into node_modules/semantic-ui and check version. It's 2.4.2 because of what i said above

about package.json versioning: https://semver.npmjs.com/

[2020-05-24 14:34] Rerago commented on #4
Ahhh ok got it^^

But still I think we should fix the problem rather than stay on an old version.

[2020-05-24 14:35] Soundofdarkness commented on #10
The main problem with that site is that it needs us to parse the source html, as they dont use an api in the background. If we can manage that, should work

[2020-05-24 14:35] Soundofdarkness opened #11 "Fix Koreanbuilds"
Seems like they have a full json api now, not sure

[2020-05-24 14:40] Soundofdarkness opened #12 "Properly initialize repo with important information and potentially linting"
Just adding this as issue to get a few opinions if I should add things like linting, etc .. or if we think that these aren't needed.

[2020-05-24 14:42] Soundofdarkness commented on #4
Interestingly enough this doesnt happen to me, but i wonder if yarn's version resolution works differently than the one of npm, which maybe uses a version that still works. Probably have to test this later/tomorrow too, since im sadly pretty busy today

[2020-05-24 14:43] Rerago commented on #10
Should be feasible. I'll check it out the next couple of days.

[2020-05-24 14:44] Soundofdarkness commented on #2
Okay nice to hear that :)
Generally I'm very happy if we use this repository (*might be biased*), but im absolutely open to helping on a different one if we see that as useful.

[2020-05-24 14:51] Rerago commented on #2
@OrangeNote will certainly also be happy that his baby may have a new home^^

[2020-05-24 14:52] TinyRaindrop commented on #4
New version probably uses different class names, shouldn't be too hard to fix

[2020-05-24 15:10] TinyRaindrop commented on #11
Why not just remove it? [Ezreal](https://koreanbuilds.net/champion/Ezreal?position=bot) has 40 games, the site is dead.

[2020-05-24 15:12] TinyRaindrop commented on #9
Runes.lol is lolalytics now, so the task is to create a brand new plugin for lolalytics

[2020-05-24 15:23] Soundofdarkness commented on #11
Well, I'm pretty sure they only use KR-Master+ for their data, which would mean that 40 games are okay-ish I think, but we can totally remove it too, both options work.

[2020-05-24 15:29] Pwn2OwnLive commented on #2
I have sent an email to Jakob Abfalter (jakobabfalter@gmail.com) at
*Koreanbuilds.net* and below is his response:

Hello,

Thanks for the interest. We offer bulk files containing all build data in

You can download it like this:

https://statics.koreanbuilds.net/bulk/latest.tar.gz

this will always give you builds from the latest patch (right now 10.10)

https://statics.koreanbuilds.net/bulk/last.

[2020-05-24 15:58] lowyiyiu commented on #2
I forked the project not knowing there're active forks out there (only checked a few of the forks on random and didn't find any work done) but it will be nice to have everyone contributing on the same fork.

So far what I've done for mine are:
- fix ddragon version
- fix u.gg
- added op.gg urf

I've also disable some features that I'm not using (autoupdater).

[2020-05-24 16:03] TinyRaindrop commented on #11
I think we can keep it, as author [shared the data](https://github.com/Soundofdarkness/RuneBook/issues/2#issuecomment-633248022)

[2020-05-24 19:28] TinyRaindrop commented on #4
Let's all agree not to mess with dependencies without a good reason. Not everything needs to be updated.

All that needed to be done in this case was to look what version of the package is used in the original repo - [yarn.lock](https://github.com/OrangeNote/RuneBook/blob/master/yarn.lock) provides this information:

semantic-ui-css@^2.2.14:
  version **"2.3.1"**

Thus, in package.json specify thi

[2020-05-25 05:12] Rerago commented on #4
Ok du hast mich^^. Habe #3 entsprechend angepasst (das mit einer fixen semantic-ui-cs version gearbeitet wird) und #5 geschlossen. Wir sollte das problem noch mal angehen wenn wir semantic-ui-cs updaten.

[2020-05-25 05:12] #4 closed

[2020-05-25 08:34] Pwn2OwnLive commented on #2
Hello all. When will we get an invite as contributors?

On Sun, May 24, 2020, 18:58 Low Yiyiu <notifications@github.com> wrote:

[2020-05-25 09:30] TinyRaindrop commented on #2
Current setup allows you to fork this repo, commit changes to your own fork, and then create a pull request to merge your commits to this one.

[2020-05-27 06:23] TinyRaindrop commented on #2
@yodarunamok we have some stuff going here, care to join?

[2020-05-27 14:54] OrangeNote commented on #2
Hey guys, thanks for still believing in the project! Of course I'm happy to see that the community is still involved in the maintenance of RuneBook.

Currently I'm not interested in developing, fixing or giving any kind of help with the codebase. So I wish you good luck and I hope the app can still serve all the users that originally supported my idea.

Even if it's not mandatory, thanks for keepi

[2020-05-27 16:35] yodarunamok commented on #2
I suppose I'm game.

An item related to that though: in addition to free downloads, I was planning on also making the (updated) Mac version available from the Mac App Store and charging $5. There are a few reasons for this:

- Apple charges $99/yr for the privilege of putting an app there, plus 30% of sales 😳
- Convenience (people can download the thing for free, so they can tip me for going to th

[2020-05-27 19:17] #7 closed

[2020-05-27 19:24] Soundofdarkness commented on #9
Yup, seems like they have some kind of api too, but not sure if its usable
Example ([Kayle](https://api.op.lol/champion/2/?patch=10.10&cid=10&lane=default&tier=platinum_plus&queue=420&region=all))

[2020-05-27 19:24] Rerago opened #15 "Single File Release"
The OrangeNote version also offered a version without setup. I preferred this version over a setup. Can we do the same?

https://github.com/OrangeNote/RuneBook/releases

That is btw. the reason why I changed the build settings back :D

[2020-05-27 19:36] Soundofdarkness commented on #15
Oh okay, yeah I can definitely look into that ^^

[2020-05-27 19:37] Soundofdarkness opened #16 "Riot versioning changes on DDragon. Again."
Seems like datadragon switched versions back to not include the way longer version tags, breaks u.gg again since they still use it. Will wait for a few days if it changes again and then fix it.

[2020-05-27 19:44] Soundofdarkness commented on #15
Yup, just checked, I can add that again in a few minutes.

[2020-05-27 19:46] Soundofdarkness commented on #16
Fixed itself a few minutes later...
*excuse me, what the heck*

[2020-05-27 19:46] #16 closed

[2020-05-27 20:06] Soundofdarkness commented on #15
Okay, single file release is added back in the latest version 😄

[2020-05-27 20:06] #15 closed

[2020-05-27 20:24] yodarunamok commented on #2
@Soundofdarkness I totally understand, and I'm happy to just go with my own fork. That said, I'd like to respond to your points:

1. I don't think there would need to be changes to anything in the repository, and if so, they would still go through the PR process. I've never tried to get an app approved for an app store so I'm stepping into uncharted territory there.
2. True enough, though it may b

[2020-05-27 20:51] Rerago opened #17 "Dark-Theme Settings"
In the Dark Theme the settings are still very bright. That hits you a bit. There is also an old issue about it:

https://github.com/OrangeNote/RuneBook/issues/72

So if there is someone who likes CSS. Here is something for you.

![darksettings](https://user-images.githubusercontent.com/65850767/83072156-8ff0ef80-a06e-11ea-8b8f-897ae9a1bb8c.png)

[2020-05-27 20:53] TinyRaindrop commented on #15
How does single file work exactly?

[2020-05-27 20:59] TinyRaindrop commented on #6
Maybe stupid idea, but currently reordering pages is a minigame of its own.

Dragging can be implemented using SortableJS, for instance, or even manually, using HTML5 features. But how would I go about saving and restoring the order of pages? Pages are not saved in arrays, but rather in objects.

One way I can think of is putting numeric "index" key into each local page and kind of sort the pages

[2020-05-27 21:03] Rerago opened #18 "Fix Scrolling"
As I said in #3 there is a problem with scrolling since the updates. You can only see it when many pages are returned.

![1_9_2](https://user-images.githubusercontent.com/65850767/83071902-2670e100-a06e-11ea-86f4-94d45407d1ce.png)

Normally it should scroll within the rune list.

[2020-05-27 21:07] TinyRaindrop commented on #12
Would be nice to have a Contributing page with some instructions and guidelines.

Also we should make new gifs showcasing the app's true potential (or bring back [the old ones](https://github.com/OrangeNote/RuneBook/blob/c979a0c31a426e9f9f24ae8542798a36f3dc338b/docs/images/kennen_demo.gif)).

[2020-05-27 21:55] Soundofdarkness commented on #2
@yodarunamok Generally speaking, asking Riot is probably the best idea for now, and when you got a response we can think more about this. But to answer to the points:

1. Absolutely. What I meant was rather that if something in the app version doesn't work, Users will most likely come to this repository (after noticing that the original one is archieved), and will file issues here, while I don't h

[2020-05-27 21:56] Soundofdarkness commented on #12
Yup, sounds like a good idea 😄

[2020-05-27 22:01] TinyRaindrop commented on #2
@Soundofdarkness

pretty sure that no one knows about this repo, we have to prepare a Reddit Press release.

[2020-05-27 22:09] Soundofdarkness commented on #2
@TinyRaindrop That too, but if they search for a Repository, they will probably land on this one after the one from OrangeNote.

[2020-05-27 22:14] Soundofdarkness commented on #15
I think its just unpacking the whole app on runtime into ram, without installing anything aside from the usual %appdata%/Runebook settings directory.
But not 100% sure about the internals of electron-builder and electron itself.

[2020-05-30 10:54] Rerago commented on #17
I found something.

https://github.com/Dancanplay/RuneBook/commit/53cccf8c79965f1ec85e85b01b10ed63c7819597

Doesn't work 100% and could still use some improvements (e.g. text-color between the separators). But in itself a good start.

[2020-05-30 14:15] #10 closed

[2020-05-30 14:56] Rerago commented on #9
I'm almost done with LoLalytics. So wait another 1 or 2 hours and we can include it in the v1.10.0 release.

[2020-05-30 15:56] Peptino commented on #2
It's great that you maintain runebook as I use it every day! Thanks to all of you :)

Maybe Orangenote can add a link to this fork. I don't know whether this is possible when it's already archived.

[2020-05-30 18:09] Rerago commented on #9
Anyone have any idea how their rune data works? ^^

[2020-05-31 04:31] Rerago commented on #9
Okay, I figured it out. They calculate the pick and win rate for every single rune. Then they calculate the respective Key-Stone and on this basis they calculate the rune list for "most picked" and "highest win rate".

You can have a look at the code in their Java-Script. But honestly I don't want to take the code 1:1 without their permission.

Does anyone have Facebook/Twitter/Reddit or something

[2020-05-31 09:38] TinyRaindrop commented on #9
They only have [discord](https://discord.gg/zKyaZ6w) as far as i'm aware.

[2020-05-31 09:45] Rerago commented on #9
Some one wanna ask them? I can join but thats all^^

[2020-05-31 10:09] TinyRaindrop commented on #9
I haven't seen actual developers there, but I'll ask around.

[2020-06-01 12:41] Rerago opened #31 "yarn?!"
Did we even need yarn? I mean, it's out of sync all the time, and everybody uses npm tbh^^

[2020-06-01 13:11] TinyRaindrop commented on #31
Yarn works fine for me, it ensures everyone has the same versions of packages installed. Plus it's a bit faster.

npm used to be a pain in the ass until they added `npm ci` that's basically equal to `yarn install` and reads from lockfile. So there's not much difference in what to use, we can switch to npm if you really want to.

[2020-06-01 15:44] OrangeNote commented on #2
I guess I could. Just mention me when this fork will be in good shape and ready to be publicized.

[2020-06-01 18:41] Soundofdarkness commented on #31
I personally currently use the old yarn, since it's indentical to npm, just a bit faster.
For development you can still use npm, you just have separate lockfiles, which sometimes means that you have a slightly different version

[2020-06-01 18:46] Soundofdarkness commented on #31
And it's important to mention that yarn allows to override package versions from dependencies, which is sadly necessary sometimes

[2020-06-01 18:48] Rerago commented on #31
I don't care about the principle. I only have NPM in VS Code and VS itself takes NPM as default. I didn't even know yarn until then (since javascript is not my language, usually)

So we can keep it.

[2020-06-01 18:53] Soundofdarkness commented on #31
Both work absolutely fine, and should work together for the most part. (And I think the userbase is pretty much equally split too :^) ). Only point that matters is that the release build uses the same manager for consistency.

[2020-06-01 18:54] #31 closed

[2020-06-02 15:23] TinyRaindrop commented on #9
@Rerago, developer of lolalytics and op.lol is Grievous#4799 on discord

https://discord.gg/zKyaZ6w

![18_21-#lolalytics-specific](https://user-images.githubusercontent.com/48414047/83538073-13429300-a4fe-11ea-8aea-da968e2b90ab.png)
![18_17-#lolalytics-specific](https://user-images.githubusercontent.com/48414047/83538070-12116600-a4fe-11ea-8028-0e9c00802ea6.png)

[2020-06-02 17:09] Rerago commented on #9
Send him a link to this issue here. We "only" need the runes. lolalytics can do much more. Maybe it will be faster :)

[2020-06-02 20:06] Soundofdarkness opened #36 "Small Heads-up"
Hey, just wanted to give a small heads up: I will be a bit busy for the next few days, so if I'm not reacting or doing much, please don't worry, I will be back to being able to do more in around a week, and will go trough all the PR's and test everything + hopefully finally get around to actually add a code of conduct, etc.

Sorry

[2020-06-07 16:07] TinyRaindrop opened #38 "Auto-upload favorite local runepage"
[Original request](https://github.com/OrangeNote/RuneBook/issues/87)

The idea is to be able to set a favorite local page that would be uploaded upon champion lock in. There's already some leftover code that halfway implements this feature.

It has to be optional via settings switch.

[2020-06-09 15:32] Soundofdarkness opened #39 "Darktheme Choosing"
First of all, thank you guys for both PR's about the settings page.
Okay, now we have the problem that we have two independent PR's implementing the dark theme for settings. Im personally not really sure which one to take, since im pretty bad at using css (maybe because im mostly working on backend stuff ...).
But yeah, im just opening this issue if you guys know which one is the best one to take.

[2020-06-09 18:15] TinyRaindrop commented on #39
### Comparison
#29
![Greenshot 2020-06-09_21-07-24](https://user-images.githubusercontent.com/48414047/84184000-5029ff00-aa95-11ea-819d-1e8561232d5d.png)

#33
![Greenshot 2020-06-09_21-05-07](https://user-images.githubusercontent.com/48414047/84184001-515b2c00-aa95-11ea-90c2-fbc2ba51f432.png)

I say we merge #29 as it's more thoroughly done, and kindly ask @Pwn2OwnLive to resubmit Greek translatio

[2020-06-10 11:05] TinyRaindrop opened #42 "A list of favorite/recent champions"
![favchamps-demo](https://user-images.githubusercontent.com/48414047/84260244-629e4a00-ab22-11ea-8bfe-db764e28bbd1.gif)

### Idea:

- have 5-7 slots where latest viewed (or picked in-game) champions are displayed
- have the ability to pin down any of them (currently viewed champ too)
- have the ability to remove champs / completely clear the list, empty slots are not showing
- no extra visible but

[2020-06-11 11:04] TinyRaindrop commented on #39
#27 looks fine. We could merge it and cherry-pick [this commit](https://github.com/Soundofdarkness/RuneBook/pull/29/commits/754009e0a5c2a462e6b3e2b72065edff141fcdad) from #29, let's decide and move on.

[2020-06-11 15:58] Rerago commented on #39
If so, i would also cherry pick [this](https://github.com/Soundofdarkness/RuneBook/pull/29/commits/412cdb6210a8fc003646cacb55b1d519deeaa3c6). Because the language selection does not work in the current master. You would see if you would rebase.

I still think the drop-shadown is too bright. And I also still think that we need to keep the two CSS files on the same level.

But ok lets merge #27. But

[2020-06-11 17:27] TinyRaindrop commented on #39
I will extract colors into separate theme files and we'll be left with a single main.css, so it doesn't matter. Already mentioned it somewhere.

[2020-06-14 12:42] Rerago commented on #39
Can we please still use the following background shade?

[code]

[2020-06-14 12:45] Soundofdarkness commented on #39
Let me check it, but sure, I just still need to get the changes from your now closed PR.

(just not that used to cherry-picks and the likes, so im pretty slow at that)

[2020-06-14 12:51] Soundofdarkness commented on #39
Yup, that background shade seems better. Going to commit that with the dropdown fix, since I can't seem to get access to the PR which had it.

[2020-06-14 12:55] Soundofdarkness commented on #39
Okay, added everything. Now we can test if the current master works correctly and then im going to merge the rest after they work with the current theme.

[2020-06-14 12:55] #39 closed

[2020-06-14 13:01] Soundofdarkness commented on #17
Fixed in current master, so I'm going to close this, thanks for all the good commits 👍

[2020-06-14 13:01] #17 closed

[2020-06-14 13:14] Rerago commented on #39
Not quite you have forgotten the following commit:

https://github.com/Soundofdarkness/RuneBook/pull/29/commits/754009e0a5c2a462e6b3e2b72065edff141fcdad

I've prepared a PR for it.

[2020-06-14 14:10] Soundofdarkness commented on #39
Perfect thanks, I couldn't add that one before due to not getting commits from closed PR's. Going to merge that in a few minutes

[2020-06-16 18:39] Rerago commented on #11
I pulled the data once. It is 1:1 the same data as on the web page.

The question is just how useful the site is. Most champs have roughly 10-15 games. I have no idea but I'd be stumped for removal.

[2020-06-19 13:44] #18 closed

[2020-06-19 20:12] Soundofdarkness opened #46 "Auto Fetching of Images (continuation of PR #45)"
From [@TinyRaindrop](https://github.com/TinyRaindrop):

Generally this should be the way to go, after finding a backup in case something of DDragon doesn't work, fails to update or anything like that.
Potentially just using a github repo as cdn-ish replacement with backup static data ?

[2020-06-19 20:33] TinyRaindrop commented on #46
I think every installation can have such data stored locally in an Images folder, it's only 1-2 MB and users are querying for this data anyway every time they open Runebook.

Cache whatever is reasonable to cache (images, jsons), and when Runebook breaks on another update, users will have a fallback dataset.

[2020-06-19 20:56] Rerago commented on #46
As for the pictures. I don't know if we have to redo every patch. That's like 2,5MB every patch for nothing. With the runes or champs the tooltips or something like that change from time to time. But the pictures of the runes?

If we do this we should do it right. Don't blunt download. But send HEAD requests to the server and compare the ETags. That way we can do a delta comparison and wouldn't ha

[2020-06-20 08:30] TinyRaindrop opened #47 "Dealing with new language strings"
If a locale is missing the requested string, riot-i18n doesn't check the default language (en) for the same string, and displays the key instead, e.g. "settings.favautoupload". It can be [easily fixed](https://github.com/TinyRaindrop/riot-i18n/commit/89aebec3cdefe2a1c31a475693aafd96818fb6f5), so that any missing string is taken from en.json by default.

Works just fine, the locale in this example

[2020-06-20 13:59] Soundofdarkness commented on #46
@TinyRaindrop Yup, caching seems like the way to go definitely.
@Rerago Absolutely, no need to spam the servers with requests
In general we still have to make sure that in a situation where something with fetching it goes wrong, and a user is on a clean install without cache, we still have some kind of fallback to get the images.

And about release, will happen in a few minutes, since I would like

[2020-06-20 14:08] #38 closed

[2020-06-20 14:33] Soundofdarkness commented on #47
I guess for now we just copy them untranslated, but yes, later on we should move to something like the version your repo has.

[2020-06-20 15:07] TinyRaindrop commented on #47
Of course, you're right; I must've had a heat stroke. We need to keep all strings in locale files so that translators would see what is left untranslated.

[2020-06-20 15:07] #47 closed

[2020-06-20 15:12] TinyRaindrop opened #48 "Autoupdater doesn't close/open the app automatically"
It shows the "App will restart for the update" alert, but I have to manually close and reopen it.

[2020-06-20 17:41] Soundofdarkness commented on #47
Nah, all good, generally your idea is in my opinion not bad at all 😄

[2020-06-20 19:47] Rerago commented on #46
Here's how it works:

`var Store  = require('electron-store');
var rp = require('request-promise-native');

const cacheStore = new Store({
    name: "cache"
});

async function requestCachedAsync(url, cachePath){
    // Determine etag from server
    var etagResponse = await rp({ method: 'HEAD', uri: url, resolveWithFullResponse: true }).then(function(response) {
        return response.headers['e

[2020-06-20 19:51] Rerago commented on #47
In principle, the string must be included in every file. To make the work easier for the translators.

But still we should replace "riot-i18n" times. Since this is the reason why we can't update riot.js :D

[2020-06-20 20:28] TinyRaindrop commented on #47
Adopt this abandoned module in npm?

[2020-06-21 16:47] Soundofdarkness commented on #48
Yep noticed this too, no idea why, I will see if I can find the reason

[2020-06-21 16:49] Rerago commented on #47
What? I mean that "riot" is currently at version 4.13.2 But we are stuck on 3.13.2 because "riot-i18n" (which is not from the same developers and hasn't been developed for 3 years) doesn't work with a higher version.

So I think we should switch to some other module. Which one exactly? I don't know, something small that is still being actively developed.

[2020-06-21 18:28] Soundofdarkness opened #54 "Dependabot stuff"
From what im seeing so far dependabot just bumps dependencies inside the lockfiles, since its stuff that needs to update in the respective packages, so im not so sure how useful this is going to be.

[2020-06-21 18:48] Rerago commented on #54
I think this is a thing of configuration. See:

https://dependabot.com/blog/lockfile-only-updates/

But I don't know. Never set it up myself, just saw it in some repos.

[2020-06-21 20:41] Soundofdarkness commented on #54
Yup, I will just leave it on for now, and will see if it actually has important updates I can do without breaking stuff

[2020-06-26 15:37] Miladiir commented on #48
https://github.com/electron-userland/electron-builder/issues/5101

Maybe try a different version of the dependency? Not sure why, but they have two newer versions tagged but not as `latest`.

[2020-08-11 02:05] jeske commented on #6
Agreed.. though honestly, I'd be happy if I could just rename them in RuneBook...

[2020-11-11 16:57] Rerago commented on #54
I would say just switch it off and I'll put in a PR here and there for updates.

[2020-11-12 20:08] Soundofdarkness commented on #54
Yup that's probably the best way. And I'm keeping an eye on security updates too.

[2020-11-12 20:08] #54 closed

[2020-12-13 22:26] Eated-Universe opened #67 "Linux build?"
Hello! Thank you very much for reviving this project and updating it!
I wish you good luck in improving it and maintaining it.
I have a request, if it is possible....I am playing LoL on Linux, and you are not building version for it. Not surprisingly as League of legends is supported for MacOS and Win only, but still.... there are player who use Wine with Linux...not many but t we exist lol
As thi

[2020-12-25 06:36] VileoSufora commented on #67
Would you mind uploading that as a fork? I've been looking for this too, especially with Blitz not working on Linux right now.

[2020-12-25 10:53] Eated-Universe commented on #67
I did, like I said in the post above. It's on my GitHub, check there.
But be warned, I am not electron dev or any dev at all, so I take no responsibility. I just added/eddited few lines to make it compile Linux version.
But it does work for me, so you can try it (do tell me if it works fine...it should)

https://github.com/Eated-Universe/RuneBook/releases/tag/v1.11.3_linux

[2020-12-25 21:11] VileoSufora commented on #67
Oh, sorry, I misinterpreted what you meant, then.
I tried out the AppImage version and it works perfectly on Mint 19.3! Thanks!

[2020-12-25 21:27] Eated-Universe commented on #67
I am glad I helped another idiot like myself who plays on Linux lol. Good luck

[2021-01-07 17:37] Rerago commented on #67
@Soundofdarkness I have no idea, but is it possible to create the Linux binary under Windows?

[2021-01-08 14:04] Soundofdarkness commented on #67
I can probably try to build it on WSL for the next release, but I guess that's about it.
I'm already more than surprised that it even works on Linux, considering it has to connect to a wine/proton(?) container and read files inside it too.

[2021-01-08 14:18] Eated-Universe commented on #67
The app itself is a electron based, and it support linux, mac and windows natively. Basically I only needed to add the following:
`    "distlin": "electron-builder --linux",`

and change dist:all to include Linux:
`    "dist:all": "electron-builder -mwl -p onTagOrDraft"`

and then install dependencies and run

npm run distlin

System tray option wont work, as the code is meant for Mac and Windows.

[2021-01-08 16:20] Soundofdarkness commented on #67
Aight,
I'm very well aware that electron (and most of Runebooks code for that matter) works cross-platform.
What I meant in terms of being surprised is that I didn't expect it to be able to connect to the league client http/ws api if its running in wine/proton.

System tray is something I might be able to try and add for linux at some point, but not for the time being.
And yes, electron builder is

[2021-01-08 16:32] Eated-Universe commented on #67
System tray (to me personally) is the least relevant feature in RuneBook, so it might as well not exist, but I'd welcome it if it comes at any time.

I would be extremely grateful (and I believe there will be some other Linux users at least) for a official Linux build from someone who actually know what the hell is he doing and not me fiddling with thing I understand superficially at best :) So ta

[2021-01-09 18:16] Soundofdarkness commented on #67
@Eated-Universe Linux build is uploaded now, if its not working let me know (will try rebuilding on linux and not WSL then)
Glhf !

[2021-01-09 18:43] Eated-Universe commented on #67
@Soundofdarkness
First of all. Thank you 👍
Second, I have tested AppImage and the binary. They both work properly, as far as I've tested them- custom  game, and testing few champs from few sources.
There is an error at startup of the app regarding the minimizing to tray code, and feature itself being broken and if you turn it on in settings, it minimizes the app (to void) and it stays in memory bu

[2021-01-09 19:31] Soundofdarkness commented on #67
Ah okay, good to know, gonna try if I can just add a simple platform check and otherwise dont load the tray icon tomorrow, but thanks for reporting ^^

[2021-01-10 14:56] Soundofdarkness commented on #67
Okay, I did publish a fix for the problem and well, I hope it works, since I have no idea.
I'm going to close this for the time being, but if its still not fixed feel free to reopen this.

[2021-01-10 14:56] #67 closed

[2021-01-10 15:50] Eated-Universe commented on #67
@Soundofdarkness No error at startup and everything seems to be working.
Thank for doing this!
Great job  👍

[2021-01-10 21:27] Soundofdarkness commented on #67
Perfect, and no problem ! If its working that easily then its absolutely worth doing 👍
Glhf !

[2021-01-16 15:53] Soundofdarkness commented on #9
Closed, thanks for the PR !

[2021-01-16 15:53] #9 closed

[2021-01-19 16:16] Rerago commented on #11
The question is how to deal with the site. It keeps data but not general. But always only builds from HighElo players from Kora (btw. there are also europeanbuilds). But that's why the number of games are so small.

But let's take Lucian as an example. What should we show? He is played on 3 lanes. From each lane the build with the most recent score? Or the top 3 per lane?

[2021-01-19 16:17] Rerago commented on #36
@Soundofdarkness
I think you can close the issue ;)

[2021-01-19 16:18] Rerago commented on #2
@OrangeNote
I would claim currently the forke is in a very good condition :)

[2021-01-20 00:38] Soundofdarkness commented on #36
I guess I will yep, but might open something similar again since the general problem still continues (and will continue for probably years).

[2021-01-20 00:38] #36 closed

[2021-01-20 00:40] Soundofdarkness commented on #11
I would guess the most recent per lane for the time being, since I feel like it matters more to have relatively recent scores than diversity, since we already have more than enough diversity through the amount of different sites.

[2021-01-20 17:29] OrangeNote commented on #2
Sure! I've added a line at the top of the original readme file, linking to this fork and its contributors.

[2021-01-20 18:48] Rerago commented on #2
Thanks @OrangeNote :)

@all
i think the issue can be closed now too^^

[2021-01-20 18:48] #2 closed

[2021-01-20 18:51] Rerago commented on #11
@TinyRaindrop
What are your thoughts on the subject?

[2021-01-21 20:30] TinyRaindrop commented on #11
During champ select I wouldn't trust Koreanbuilds' runes and would immediately open another tab. It only shows runes that **one** player (can be selected on the left, under the patch) picked during his 7 games, which, I think, goes against RuneBook's spirit of providing meaningful information.

'High elo' rune meta can be much better represented by Lolalytics or U.gg master+ filtering, if there's

[2021-01-22 16:50] Soundofdarkness commented on #2
Sweet, thanks !

[2021-01-22 16:52] Soundofdarkness commented on #11
Yeah, I mostly agree with this, but I would expect that quite a few would trust a single player more than general stats. Main question here might be if we want to be opinionated or not.

[2021-01-25 21:35] Rerago commented on #11
So I have completely rewritten the "koreanbuilds" plugin. Based on the API also used on the site which is a lot more performant. BUT they use an authorization-token. We could pull it out of bundle.js via regex. But that's not really the fine English way and I would never want to publish something like that (unless the owner has no problem with it).

Hence the question. Do we want to ask the owner

[2021-01-25 23:43] Soundofdarkness commented on #11
I'd say we should ask the owner and disable bookmarks at least yep, and generally I feel like offering options is probably a good thing. Based on [https://koreanbuilds.net/faq](https://koreanbuilds.net/faq) I would presume we would get a positive answer but we should totally still do that for good measure. Do you want to do this or should I try to (which I can do, but I'm not exactly looking at my

[2021-01-26 17:27] Rerago commented on #11
Oh it's ok if you ask or @TinyRaindrop.

I don't really use koreanbuilds. But I wanted to update the plugin to the latest version. And additionally it would be possible for me to support europeanbuilds because only the URL is different.

So we could make a "KR/EU builds". Whether as one plugin or as two would not really matter.

But anyway someone would have to ask :D

[2021-01-26 17:36] Rerago commented on #42
@TinyRaindrop did you continue working here?

[2021-01-26 18:14] Soundofdarkness commented on #11
Well, since I don't use it either (in fact, i've only learned about the site because of runebook), i'd say somebody who actively uses it should ask the creator, since they would actually have an argument. Since so far we have 3 people not really using it, so it would look like its not really worth using time on atm. So maybe we just leave the issue open and see if somebody chimes in because they w

[2021-01-28 19:28] TinyRaindrop commented on #42
Was out of League for some time, but I'd like to finish this piece.

[2021-05-24 11:10] ve1mi opened #81 "nsis error 1.14.1"
1.14.1.exe
![2021-05-24_14-08-45](https://user-images.githubusercontent.com/45261656/119339373-bf463680-bc99-11eb-9050-55719faa7f80.png)

[2021-05-24 17:25] Soundofdarkness commented on #81
Hmm, interesting, no idea how that happened, but im going to take a look when im back on my pc later today.
Sorry for the inconvenience, I will try to fix it asap.
(I feel like I just need to reupload it and it will work, but we will see ..)

[2021-05-24 17:32] ve1mi commented on #81
nice, thx dev

[2021-05-24 19:27] Soundofdarkness commented on #81
No problem, should be fixed now, seemed like electron-builder just didn't completely upload it.
I'm going to close this for now, but am pinning it still in case the linux version is bugged too,
but in any case, if there are further issues, just reopen the issue or make a new one.
Thanks for the report and apologies for the delay !

[2021-05-24 19:27] #81 closed

[2021-05-24 22:29] ve1mi opened #84 "Rune pages arent exported 1.14.1"
1.14.0 working fine. Runes page from sources isnt exported (opgg ugg and etc). Old local pages are exported - this okay

![2021-05-25_01-24-15](https://user-images.githubusercontent.com/45261656/119414614-8a1d0100-bcf8-11eb-8e96-4aa972eaeee3.png)
![2021-05-25_01-23-14](https://user-images.githubusercontent.com/45261656/119414617-8ab59780-bcf8-11eb-8edb-6936aa06babc.png)
![2021-05-25_01-32-06](http

[2021-05-25 22:22] mugiritsu commented on #84
Same issue here. The LoL Client says there was a problem with the runes with a red danger symbol. Then I have to edit manually the runes and set the secondary rune tree by hand.

[2021-05-26 18:03] Soundofdarkness opened #86 "Keys primaryStyleId and subStyleId required again"
So far it seems like the league client requires primaryStyleId and subStyleId again as it otherwise completely breaks when trying to upload a rune page.
A runepage without these keys shows as invalid + has random perks and only sometimes the correct ones in the primary tree.
The secondary tree seems to always stop showing any rune images, but on hover it shows the correct names (seems to be reliab

[2021-05-26 18:04] Rerago commented on #84
@mugiritsu this should be fixed with #85

[2021-05-26 18:08] Soundofdarkness commented on #86
Oh well, git didn't show me #85 until now, that's certainly the better way. Going to merge it in around an hour or two and release a new build

[2021-05-26 18:09] Soundofdarkness commented on #84
Can confirm, going to merge soon, see first comment on the newest issue

[2021-05-26 19:17] Soundofdarkness commented on #84
Should be all fixed with 1.14.2 now.
Going to close this for now, but in any case, if there are issues, just reopen this issue or create a new one !
Thanks for the fix @Rerago

[2021-05-26 19:17] #84 closed

[2021-05-26 19:17] #86 closed

[2021-05-26 19:47] ve1mi opened #87 "Rune export still doesn't work 1.14.2.exe"
![2021-05-26_22-45-44](https://user-images.githubusercontent.com/45261656/119721808-3e8f6200-be74-11eb-8a56-0aedfcde0d7e.png)

[2021-05-26 19:59] Soundofdarkness commented on #87
You just need to create a new runepage (or select a different one in c-select), since the current active one is one of the default ones from all I can tell, and they cant be modified

[2021-05-26 20:12] ve1mi commented on #87
Thanks working :)

[2021-05-26 20:12] #87 closed

[2021-05-27 20:05] ve1mi opened #88 "u.gg is a little broken"
![2021-05-27_23-04-08](https://user-images.githubusercontent.com/45261656/119890099-11a88100-bf40-11eb-8120-4642c6241c9a.png)

[2021-06-04 20:01] Soundofdarkness commented on #88
Hey,
sorry for the delay, I will try to look into this in the coming days,
but I cant guarantee a quick fix since I'm pretty busy.
So far it seems to me like its just a matter of sorting u.gg's rune response since thats the only plugin with this problem.

[2021-06-06 18:27] Soundofdarkness commented on #88
Alright, current master should include a fix (but I'm not exactly happy with the quality of said piece of code).
I'm going to wait a few days in case somebody finds an obvious flaw with it that I might have missed in my testing,
but after that I'm going to publish it.

[2021-06-06 18:39] ve1mi commented on #88
thanks, was busy these days)

[2021-06-06 18:57] Soundofdarkness commented on #88
Yup, sounds very familiar !
I hope it works like that, if you don't want to wait, you can just run it from source,
and of course, in case there are any issues, just post them here or in a new issue !
(will try to fix them, but yeah, same case with being busy still applies sadly >.>)

[2021-06-09 18:28] Rerago commented on #88
I have submitted a fix. It should fix the problem.

[2021-06-09 18:59] #88 closed

[2021-10-07 20:55] BODZy opened #96 "u.gg ded"
![image](https://user-images.githubusercontent.com/11339415/136460851-629f4b36-6ab0-452a-8b34-eaa13382d403.png)

[2021-10-18 00:31] machond opened #97 "[Feature] ItemSetExporter"
Hi, I would ask if anyone know name of endpoint for lolalytics for item sets or item orders:

Example for runes, but i need for items.
`https://axe.lolalytics.com/mega/?ep=build&p=d&v=1&patch=11.20&cid=1&lane=middle&tier=platinum_plus&queue=450&region=all%60;
`
It would be awesome have item sets export option.

[2021-10-18 03:26] SandersAaronD opened #98 "Error when opening runebook before League"
![image](https://user-images.githubusercontent.com/44221653/137663824-8c2e3f1d-5022-4d23-ac3c-55f3d3b68d6e.png)

Pretty simple; if you open this before League, this happens. I assume when this app initializes itself it's grabbing either the lockfile or some of the config, and it's being locked or held open in a way that the Riot or League client doesn't approve of so the League client is failing t

[2021-11-11 00:52] HannoMartinus opened #99 "Op.gg ARAM runes."

[2021-11-21 18:39] Soundofdarkness commented on #97
Well, most websites have an unofficial endpoint for it, but it needs to be reverse-engineered most of the time (or just extracted from the page itself). The problem will just be that we need a completely new UI if we would want item sets too I think.

[2021-12-01 19:18] 11Tuvork28 commented on #97
There I come into place :D So far I managed to implement Item sets for blitzgg as they give the info for the Item sets right away and I also wrote a fancy UI for that, although it just lists for items by name for now.
Anyways as soon as I'm happy with the UI I'll open a PR, also this APP works flawlessly on linux. I'm planning to look into the other sites but no promises, I also want to get the au

[2021-12-02 00:20] Soundofdarkness commented on #97
Sounds awesome, thank you !
I hope that I have enough time to release it fairly quickly when the PR arrives, and depending on how much time I have I might look into adding more exporters for the list data too.

[2021-12-02 00:27] Soundofdarkness commented on #99
Hey,
adding those runes sounds generally doable, but as with all other added features, I can't promise much due to having very limited time myself.

[2021-12-02 08:27] spstarr commented on #97
I will certainly test!

[2021-12-02 11:38] dawidmachon commented on #97
Please do not forgot about items for ARAMS ;)

[2021-12-02 15:04] 11Tuvork28 commented on #97
Already done :)

Yeah, I'm trying to follower the code style as close as possible. Anyways the item sets should be in this structure(in my opinion)
[code]
This object is included in the current page object.

My biggest hurtle right now is the exporting to the league client as I don't really understand what data I actually need to give the client but I'll figure it out :D When I get this done I can

[2021-12-02 15:44] dawidmachon commented on #97
@11Tuvork28 let me help you:
path: `C:\Riot Games\League of Legends\Config\Champions\
[Champions.zip](https://github.com/Soundofdarkness/RuneBook/files/7643214/Champions.zip)
`

[2021-12-02 16:08] 11Tuvork28 commented on #97
hell yeah thank you!!! Exactly what I need :)
But I don't know what I do wrong but the client doesn't like the data I give it:

```curl -X POST "https://127.0.0.1:42397/lol-item-sets/v1/item-sets/summonerId/sets" -H  "accept: application/json" -H  "Content-Type: application/json" -d "{    \"title\": \"[lolalytics-ARAM] Highest Win, 11.20 (G+)\",    \"type\": \"custom\",    \"associatedMaps\": [

[2021-12-02 16:17] dawidmachon commented on #97
Maybe its dumb question but do you provide `summonerId` as parameter?

[2021-12-02 16:23] 11Tuvork28 commented on #97
I did, I put it back in there to mask my id, maybe its just the fact that I'm running the game on linux through wine or so I don't really know.

[2021-12-02 16:36] spstarr commented on #97
Check JSON syntax?

[2021-12-02 18:04] dawidmachon commented on #97
@11Tuvork28 please go check:
[code]

[2021-12-02 19:29] spstarr commented on #97
Format when removing escapes and all:

`{
  "title": "[lolalytics-ARAM] Highest Win, 11.20 (G+)",
  "type": "custom",
  "associatedMaps": [
    12
  ],
  "associatedChampions": [
    143
  ],
  "map": "any",
  "mode": "any",
  "preferredItemSlots": [],
  "sortrank": 1,
  "startedFrom": "blank",
  "blocks": [
    {
      "type": "Starting items, win rate 53.39%",
      "items": [
        {

[2021-12-02 22:03] Soundofdarkness commented on #97
Just to quickly chime in about the structure of the item sets:
For me @11Tuvork28's idea sounds like a good way to me.
But yeah, don't worry too much about the code style, either, as that's quite a mix of different ways already.

[2021-12-03 15:32] 11Tuvork28 commented on #97
Okay, thanks for the feedback/help!
For now I have decided to just place the json file in the directory for the selected champion as this seems the fastest way for me to finish the exporter. I also added translations for English and German for the new UI elements I added. I will probably open the PR tomorrow as I don't have enough time today.

[2021-12-03 21:22] Soundofdarkness commented on #97
Sounds good, thank you !

[2021-12-09 15:34] 11Tuvork28 commented on #97
So for anyone who wants to test the new feature, clone my [fork](https://github.com/11Tuvork28/RuneBook).
Let me know if you have any thoughts or if you find bugs and what do you all think about the icon for the button?

[2021-12-14 16:22] spstarr commented on #97
hmm, doesn't seem to work for me, with Wine and League, it finds client, but Its not importing any Items only Runes import.

[2021-12-14 16:30] 11Tuvork28 commented on #97
Could you please check if the file was created? In ~/Games/league-of-legends/drive_c/Riot\ Games/League\ of\ Legends/Config/Champions/{ChampName}/Recommended/{ChampName}_{role}.json
The client doesn't show the item set under the tab but it does pick the item sets up while in game so that can be confusing, as far as I know blitzgg has the same behaviour.

[2021-12-14 16:35] spstarr commented on #97
Yes, I see `~/Games/league-of-legends/drive_c/Riot Games/League of Legends/Config/Champions/Veigar/Recommended/Veigar_MID.json`. I see so it will pick it up in game, going to try it now :)

[2021-12-14 16:37] spstarr commented on #97
hmm now its not even letting me upload Runes in ARAM just grayed out option but is detecting new random champ + runes :/

[2021-12-14 16:41] 11Tuvork28 commented on #97
ummm possibly restart RuneBook real quick, but it should be unrelated as I didn't touch the existing code :/

[2021-12-14 18:07] spstarr commented on #97
I will try again after, I'm not sure why RuneBook just stopped allowing importing altogether...

[2021-12-14 18:39] 11Tuvork28 commented on #97
Strange, I'm gonna look into it either today or tomorrow but for me it is working just fine

[2021-12-14 23:35] Soundofdarkness commented on #97
Going to check that tomorrow too, maybe riot bugged something in the client. (or just changed something and I haven't seen it)

[2021-12-15 14:20] 11Tuvork28 commented on #97
I'm unable to reproduce the issue, I'm sure it was just a random bug. But if it persist, could you provide the output from the console in the developer tools ?

[2021-12-19 17:30] Soundofdarkness commented on #97
Aight, I'm probably going to already merge #101 and then just wait a few more days if we get anyone to reproduce the issue, and if not I'm going to release it.

[2021-12-21 16:18] 11Tuvork28 commented on #97
I noticed one thing I could have done better :P,  because it should delete the other item sets as I noticed I don't always check that I selected the right item set in game as lol somewhat ignores the map the item set is for :|

[2021-12-25 23:51] Saterrr opened #102 "White screen"
![image](https://user-images.githubusercontent.com/68790281/147395661-119c4716-6ead-4c87-9d32-3eed8b17cb71.png)
idk whats causing the issue probably i didnt install a program

[2021-12-29 22:50] Soundofdarkness commented on #97
Ah don't worry, I don't think I've ever written something where I haven't found anything that could have been written differently later. Do you want to just change it or should I try to when I'm able to ?

[2021-12-29 22:51] Soundofdarkness commented on #102
Well that looks quite broken yeah,
did you already try to reinstall the program, just in case something bugged out while installing it ? As I've personally never seen that happen.

[2021-12-30 17:57] 11Tuvork28 commented on #97
Well I can do it I saw a mistake I made so I wanna fix that anyways xD Also I'm working on bringing this project to Typescript and adding some tests so that releases can be automated via CI

[2021-12-30 21:37] Soundofdarkness commented on #97
Sure okay, going to take a look tomorrow and then merge it ^^ And if you want to do that, sure, but I'm not sure if we can properly test the project since most of it is depending on riot's api not breaking in some way. The main possible thing would be testing if the website exporters still work I think.

[2022-01-11 07:04] Turb0Hawk commented on #6
Hey guys im working oin this feature and i just want to know, are we ok with using external packages/libraries for stuff like prompt windows ? electron does not support the classic js prompt(message, defaultValue).......

[2022-01-12 07:25] TinyRaindrop commented on #6
@Turb0Hawk
Runebook uses SemanticUI CSS framewoks, which has plenty of JS stuff in it.
[Modals](https://semantic-ui.com/modules/modal.html) are might be what you're looking for.
Check out [this modal example](https://semantic-ui.com/modules/modal.html#approve--deny-callbacks).

[2022-01-14 04:24] Turb0Hawk commented on #6
thanks bud ! this is my first node/js project since HS sooooo im rusty and lost. I work front/back end in c# so all the help is appreciated

[2022-01-23 02:30] PhalanXdarKen opened #105 "LOL needs to be in rune page edit mode or else Runebook won't work [BUG - Enhancement] & Other minor things"
This is the best LOL software, it only needs a few tweeks for reaching perfection, it is fast enought and have a nice looking UI.

**MAIN PROBLEM:**

As shown in Images attached, when I create a new runepage, I always test it on training mode. After this I save it normally in Local Runes section and the new page appears in the software list, but When I enter to the champ selection screen I am unab

[2022-01-27 18:43] 11Tuvork28 commented on #105
Thanks for the feedback and suggestions. As for the issues you describe I can't reproduce them, are you on the newest version? and itemsets can already be exported although only the blitzgg.

[2022-01-27 23:29] PhalanXdarKen commented on #105
Yeah @11Tuvork28 I have the latest version. And yes I was taking a look to that new function but the item images doesn't appear yet and it's not so aesthetic nor practical yet. I think UI is very important nowadays. Try enter editing rune mode, this problem occurs generally when I first start the program. It's very hard to explain but the easiest solution could be to make the SEND button always en

[2022-01-29 03:06] Soundofdarkness commented on #105
Hey !
First of all, thanks for all the suggestions!
To mention the issue report, from what I can tell this keeps happening because you currently have one of the default rune-pages selected. We can't overwrite them afaik, and since we otherwise just overwrite the current page (to make sure to not accidentally overwrite a still needed page) and for the ones being not yet fully set up, I'm not sure w

[2022-01-30 18:51] PhalanXdarKen commented on #105
thank you for taking the time of aswering me. Iam sure that making those changes will improve the app to the next level, A good idea should be make some marketing or invitations to popular streamers who can live talk about the app. I would like to help you with UI but iam sorry that Idk nothing about programming. I will be waiting for changes and updates, keep it going!

[2022-02-03 14:11] Impr0ve opened #106 "Old config file not working for me after update"
I just found out you guys were keeping this project going and I updated it and now my old rune configs aren't loading
is anybody else having this issue?

[2022-02-04 13:50] 11Tuvork28 commented on #105
I don't know about that but I'm looking into fixing some bugs I found and making favorite champs a thing, well finishing up #42.
Also I'm working on finding out the remaining endpoints for the other sites, mainly lolalytics but no idea if and when I get all this done because I don't have that much time currently...

[2022-02-05 02:52] Soundofdarkness commented on #105
No problem ! About the marketing part, I don't think that's a possibility for us, simply due to sponsoring content in some way or another (or even marketing in general) usually needs a company, which would not be feasible for now. Additionally it would add to the expectation of runebook permanently being up to date and working perfectly, which is something that's really hard to guarantee as an ope

[2022-02-05 02:58] Soundofdarkness commented on #106
Hey !
Im pretty sure we did change parts of the config format at some point, so that most likely broke it. If you are able to attach your config here I can try to take a look if I can get it to load in some way again.
(Path should be %appdata%\Runebook\config.json )

[2022-02-05 03:27] Impr0ve commented on #106
Ok thanks for that I thought It might be the format I just don't know enough to figure it out had to change it to .txt cause it wouldn't allow json files
[config.txt](https://github.com/Soundofdarkness/RuneBook/files/8007295/config.txt)
t

[2022-02-09 02:47] Soundofdarkness commented on #106
Aight, checked it for a short time so far, seems like a few of the rune pages error out when they get prepared for the format the league client wants, I will tinker with it the next days and see if I can convert them, but that might take a while, sorry.

[2022-02-09 03:45] Impr0ve commented on #106
Ok, thank you! I wish I could help but I don't know how to code :( would be easy to make a program that can convert the config
so in case, anybody else has this issue?

[2022-02-10 20:07] ve1mi opened #107 "OP.GG is dead"

[2022-02-11 06:11] spstarr opened #108 "Unable to use RuneBook, autodetect or manual selection, doesn't connect"
I restarted RuneBook, before and after LeagueClient is running, nothing connects....

Need some info on how to debug why.

[2022-02-12 05:02] HannoMartinus commented on #107
![image](https://user-images.githubusercontent.com/84947849/153697468-bf153c0f-a0a8-4c04-bb17-98f441d681b6.png)
Same thing here.

[2022-02-14 23:01] Soundofdarkness commented on #106
Dont worry, it was happily not hard after I found out what the problem was. (back then some pages just stored the perk-id's as text instead of as number). I theoretically have a tool that can convert them now, but since the code is just thrown together I wont publish it unless more people need it I think, since I would have to clean it up quite a bit first.
But I think your file should work now, b

[2022-02-14 23:05] Soundofdarkness commented on #108
Hmm, that's quite odd. Does that bug still happen or did it just fix itself maybe ? (as I've only seen it happen like once ever and that just vanished after a day or two).
But in case its persistent you could just try running runebook from source since that should open the dev tools directly.
Should be just cloning the sources, running `npm install` and then `npm start`.
Pretty sure any node.js ve

[2022-02-14 23:06] Soundofdarkness commented on #107
Yup, noticed it too, I will look into it in the coming days.

[2022-02-14 23:16] Impr0ve commented on #106
Awesome it works! yea the sync thing broken but it's OK, I don't really need that anyways thanks again for  helping me out :)

[2022-02-15 00:07] Soundofdarkness commented on #106
No problem! Nice to hear it works fine!
Im going to keep this issue open for the time being in case more people have the same issue, just in case.

[2022-02-15 07:12] spstarr commented on #108
Will build it from code later today, see whats going on

[2022-02-16 08:44] HannoMartinus opened #111 "Item set Exporter doesn't detect custom LoL directory."
Took me quite some time to figure it out.
Runebook itself detects my custom LoL installation directory (`D:\Riot Games...`), but the new Item set Exporter feature doesn't and just drops the files by default in `C:\Riot Games\League of Legends\Config\Champions`
![image](https://user-images.githubusercontent.com/84947849/154227983-852a8a19-bf48-424a-882c-c23b1e0802f5.png)

[2022-02-19 19:23] Kestoon opened #112 "Not sure where to ask beginner questions, can't get Runebook to work on Mac"
Hello,
Sorry if this is not the right place to ask, I have looked everywhere I could. found nothing on reddit etc.
Anyway I guess everything is in the title. Today, I uninstalled the old version of Runebook that I had on my (2014) MacbookPro as I wasn't loading any pages from op.gg.
I am trying to reinstall it, but I cannot make it work. I tried downloading all different versions of the latest rel

[2022-02-26 03:16] Soundofdarkness commented on #107
It seems so far that op.gg switched to using random and (presumably ?) changing css selectors now, so I'm not quite sure yet if there is a way to get the plugin to work again.

[2022-02-26 03:17] Soundofdarkness commented on #112
Unfortunately we aren't currently building for macOS so the only way atm would be to build it from source.
I can try to help if you want to do that, but since I dont have a macOS machine available atm, I'm not sure how much I can help.

[2022-02-26 03:18] Soundofdarkness commented on #111
Thanks for the report !
I'm going to take a look on that and hopefully fix it soon.

[2022-02-28 08:48] HannoMartinus commented on #111
The league install I had was from 2019, so I ended up reinstalling both LoL and Runebook which fixed the problem. I couldn't replicate this problem in VM so I think the cause is probably something wrong with my LoL game files or my own install of Runebook rather than a bug in the code.

[2022-02-28 08:48] #111 closed

[2022-03-05 12:25] 11Tuvork28 commented on #107
Not dead anymore I got a PR on the way.
Looks like the plugin got a whole lot easier because they store all the data in a json object which we just need to extract from the html and then we can even use other stuff from them like items or counter pick

[2022-03-05 12:41] ve1mi commented on #107
Super info, I will wait the next update

[2022-03-05 12:41] #107 closed

[2022-03-05 19:53] 11Tuvork28 commented on #99
Will be added automatically once I get the opgg plugin rewrite done probably by tomorrow^^ Also U.R.F runes :)

[2022-03-07 17:17] 11Tuvork28 commented on #105
Hi @PhalanXdarKen you mentioned that the UI could be better, I have been working on the UI for bit specifically the item set page.
I would like to here your thoughts about it although keep in mind that this is just prototyping
![Screenshot_109](https://user-images.githubusercontent.com/59368718/157084002-c4fac213-b694-424f-af78-fc7323bc370b.png)

[2022-03-07 21:03] PhalanXdarKen commented on #105
@11Tuvork28 Hi! Iam really impressed that you and your amazing team keeps on work and listen to your audience! ☺️ I shared the program with 10 friends and they are so satisfied and thankful. Some of them are having the same issue of the darker unclickable send button, being unable to import into client if they are not editing a rune page. I will share the software soon with more ppl because I will

[2022-03-10 10:08] 11Tuvork28 commented on #105
@PhalanXdarKen Thanks for  the feedback!!
But let me clarify that I'm not affiliated with the 'team' behind this project and that I'm just a random person working on this because I have fun.

So I'm working on a few points you mentoined and I will orient myself at your points. Currently I'm working a few new features and UI revamp also adding a new tab with info about the selected champ:
- Counter

[2022-03-10 19:02] PhalanXdarKen commented on #105
Hi @11Tuvork28  again 😊 so much thank you for your efforts, I really use runebook everyday its my favorite lol app. I like the idea of the skill order, about that it will be a great idea if the user can create multiple "skillpages", this way you can select which one to use in every match. Now, what other apps does is that they show an enlighted square mark around the skill that you should level up

[2022-03-12 02:31] Soundofdarkness commented on #112
No problem ! I'm going to close the issue for now, but just reopen it whenever you feel like trying.

[2022-03-12 02:32] #112 closed

[2022-03-12 02:49] Soundofdarkness commented on #105
I'm just going to quickly try to respond as well, but it's going to be quite short since I'm ill at the moment and don't really feel well enough to do much, so apologies for that.
First of all, thank you for all the feedback !
I can't really speak from the feature part myself, since I'm not working much on those myself anymore, but I can just say that if people like @11Tuvork28 want to work on tho

[2022-03-12 08:34] 11Tuvork28 commented on #105
@soundofdarkness First of all I hope you get well soon and no need to apologize for that!
Thanks for merging my PRs, I got a few more PRs on the way this weekend specifically for:
* Images for the items and price as shown in an screenshot above
* op.gg item sets
* Auto accept a match
* More locals and localized Item names

But I don't think I get them all ready today, so they might not be viable f

[2022-03-12 17:16] PhalanXdarKen commented on #105
Of course ! Please take your time and thank you two for keeping in mind and alive this project. I hope you get better and I think @11Tuvork28 is going to make a great work. I forgot to say that there's is a little bug, Op.gg runes isn't showing in runebook suggested runes,  there appears a sad face, all the other tabs shows well like for example blitz.gg or u.gg. Take the time you need for any upt

[2022-03-13 02:23] Soundofdarkness commented on #105
@11Tuvork28 Thank you and sounds good ! I've replied on the PR for the auto accept (TLDR: Need to ask riot first since I so far dont have permission to do more than runes, and that is sadly required by Riot for Client API projects), but the rest should be fine good!
@PhalanXdarKen Thank you ! And about the OP.GG bug the fix is technically already merged, just not released yet, but that should happ

[2022-03-13 02:30] PhalanXdarKen commented on #105
@Soundofdarkness it will be a pleasure! you just tell me when and how, or if it will be discussed in telegram group etc. I will be there for helping in anything related to translation for my native language Spanish Latam. Soon I will use runebook live on streamings in Twitch so if someone in my audience ask me about, I will tell everyone to give a try to it! so Keep alive that donations integratio

[2022-03-17 06:55] spstarr commented on #108
So I cleared out .config/RuneBook, that fixed detection... though item upload doesn't seem to work in master branch for me

[2022-03-18 00:01] Soundofdarkness opened #118 "Memory Leak in current master branch"
Seems that we currently have a memory leak happening when swapping away from a page with an item set button.
I haven't found any obvious cause, so far.
(Just going to move this from PR #117 to here, in case somebody has an idea)

[2022-03-18 00:44] Soundofdarkness commented on #118
Alright, found the issue I think. Seems like accessing the freezer for bigger objects inside tags causes it. (In this case itemsinfo)
I've "fixed" (more like test-patched) the memory leak itself, via just handing in the itemsinfo as static opts (which pretty sure breaks the language functionality quite a bit), and now it just causes a massive cpu load (completely pins 1 core to 100% on my cpu), wh

[2022-03-18 06:16] 11Tuvork28 commented on #118
I took a quick look at it and I couldn't really reproduce it, yeah RuneBook uses a bit more when different pages get loaded but nowhere near a gig. Maybe its because I'm on Linux or so I don't know. Anyways I will take a deeper look at it during the weekend

[2022-03-19 16:32] HannoMartinus commented on #118
I can confirm it happened to me too (twice), but I didn't investigate it further.

[2022-03-19 17:03] Rerago commented on #118
It could be a problem with ```RiotJs```. We are also using a very old version (```3.13.2``` vs ```6.1.2```). We need to throw out ```riot-i18n``` and replace it with something else. Then we could also update ```RiotJs``` and possibly get less problems.

[2022-03-19 17:28] 11Tuvork28 commented on #118
True, I could put some time into updating everything but I can't confirm that I didn't in fact introduce this myself.
It could that I overwrite the item info in the freeze and not set it null beforehand. That's the only thing I can think of where the leak could come from as for the opgg rework I checked for that and other issues before it got merged.
Hope this makes somewhat sense.

[2022-03-19 17:51] Rerago commented on #118
But there are bugs in the item explorer in general (since I don't use it I didn't deal with it).

- Open Runtbook from VS code
- Select u.gg and search for any champ

The console is spammed with:

Cannot read property 'start_items' of undefined
Cannot read property 'core_items' of undefined
Cannot read property 'big_items' of undefined

Maybe there is an error here. Btw. I'm thinking about rewriti

[2022-03-19 18:26] 11Tuvork28 commented on #118
Yeah that's because I messed up an if statement in page-list it needs to be if={page.name == "bltitzgg" || page.name == "opgg"} and what's currently is^^ and sounds doable but it will take you a lot of time

[2022-03-23 17:28] Soundofdarkness commented on #118
I'm personally guessing its something related to RiotJS too, as I've tried storing the items data in localstorage instead of the freezer, but still had the same problem. Problem with RiotJS is that they dont recommend migrating from v3 to higher versions since 3.x is still maintained according to them (seems like they changed quite a bit from v3 to v6).
So far all of this sounds a lot like there w

[2022-03-25 00:38] emaxoda opened #119 "[Feature]"

[2022-03-30 13:13] 11Tuvork28 commented on #118
Okay, thanks for the information while I would like to work on an update I can't because my finals are coming up :/ But in around 35 Days I would be able to take a look at it again if nobody updated to a newer version by then.

[2022-03-31 21:57] Soundofdarkness commented on #118
Sounds good and don’t worry ! Finals are way more important, take all the time you need. I’m still looking into it too in my free time, but since I have a lot of health stuff going on in my family I’m limited too.

[2022-04-20 05:52] HannoMartinus opened #120 "BLITZ.GG not working"
As of 20/04, blitz.gg stopped working on version 1.15.0

**Status Update** (25/05/2022):
BLITZ.GG: Down ❌
Lolalytics: Down ❌
OP.GG: Down ❌
U.GG: Working ✅
METAsrc: Down ❌

[2022-05-05 09:37] 11Tuvork28 commented on #120
Hi, thanks for reporting this👍
Currently I can't look into it but I will fix it as soon as I have time again.
Does it happen on every champion or just Malzahar?

[2022-05-16 04:05] Soundofdarkness commented on #120
I personally have nearly no knowledge of graphql either, but im going to take a look if I have time too. (I will mention it here if im working on it so we don't end up with two people fixing the same)

[2022-05-24 19:26] Elderweiss-was-taken opened #121 "Trading champions in draft (ranked or normal) doesn't change the runepage"
When using the feature "Auto select" in the main page and in the Settings page -> Experimental : "Auto-upload favorite page", let's say you pick Yuumi and then you trade champions with a Nasus, and let's assume you have one favorite page set in RuneBook for every champion in the game, instead of applying again the automatic upload for the favorite page of Nasus, it will keep the page of the first

[2022-05-27 17:00] ve1mi opened #122 "No runes in Runebook Tresuare hunter"
This rune
![2022-05-27_19-58-54](https://user-images.githubusercontent.com/45261656/170745706-1b37f740-d87f-4ba2-ac7b-cccdd543cb18.png)

[2022-05-27 17:02] ve1mi commented on #122
instead of it, this is displayed in the runeboo
![2022-05-27_20-00-59](https://user-images.githubusercontent.com/45261656/170746955-b1d3e9ff-bbd7-4ade-8230-5b976b382787.png)
k

[2022-05-30 18:30] Rerago commented on #122
its just an wrong image. But it will be fixed in #123

[2022-05-30 18:38] ve1mi commented on #122
Thanks 👍

[2022-05-30 19:01] Soundofdarkness commented on #120
Yup, going to take a look at the PR's soon, and I'm not sure, should we just try to revert the last PR for the time being and re-add it later on ? (at least in case we don't find any obvious cause soon)

[2022-05-30 19:20] 11Tuvork28 commented on #120
I have a better idea:
We make a dev branch from current master and rebase master onto 0edd00f  and merge current PRs.
That way we can experiment with it and in the mean time release a new version so that the program is in a more useable state.
What do you think?

[2022-05-30 19:40] 11Tuvork28 commented on #118
Okay so I did some testing on a macbook(M1) and suprise suprise I don't ever see a spike nor do I see high usage in general the usage is around 90Mb. Very strange

[2022-05-30 20:09] Soundofdarkness commented on #120
Yup, sounds good, going to work on doing that tomorrow (since i think i have to do it, but not sure)

[2022-05-30 20:25] 11Tuvork28 commented on #120
Sure, or if big if you feel I can be trusted add me as a collaborator and I can do that. Wow I feel bad for bringing this up anyway thanks for your quick response time

[2022-05-30 20:47] Soundofdarkness commented on #120
Don't worry, I will for now still see to that, but that is something I'm debating anyways if I'm continuing to not be able to do anything to help (as in, moving the project into a community, and giving 1-3 people trusted access as maintainers after a vote if they want and with me just being there in case I have time for once)

[2022-05-30 20:57] Soundofdarkness commented on #118
Alright,
then I'm going to test it again on a new system later, in case it was some weird issue on that windows install.

[2022-05-30 21:32] Soundofdarkness commented on #118
Okay, I quickly tested it again too, now it seems to work for me too.
Strange, but well, sounds good. I'm going to test it for around a day more, but seems like we maybe don't need to revert it.

[2022-05-30 21:43] Soundofdarkness commented on #118
@HannoMartinus Since you had the issue too at some point: Would you maybe be able to check if the issue persists for you ?
As if its gone for you too I would feel more comfortable closing this as the decision would not be completely dependent on my Windows install then.

[2022-06-08 02:03] Soundofdarkness commented on #118
Okay, now I had the bug yet again, but it seems like it only happens with dev tools open ? Which could actually make sense since it seems to try to inspect that 1MB json from op.gg and that even multiple times, so maybe thats just something it can't deal with.
As soon as im doing the exact same without dev tools open it works perfectly fine, same as in release mode (aka just built the executable a

[2022-06-08 05:45] Rerago opened #126 "Blitz.GG kinda broken"
The plugin works only conditionally. See the Aram runes:

![image](https://user-images.githubusercontent.com/65850767/172540615-c43c29bb-be65-41af-a68f-87619b0173a8.png)

[2022-06-08 17:04] Soundofdarkness commented on #126
Alright, just checked the api response for that case, it seems like they actually report id 9111 for both slots (together with others, but highest wr are both that id). So I guess the only option would be to disallow duplicates, but I'm not sure if that would properly fix it, or just move the issues to somewhere else.
![image](https://user-images.githubusercontent.com/14293048/172675152-0d24de48-2

[2022-06-08 17:26] Rerago commented on #126
Well, in the end, the page gets no other answer. You would just have to look at how the page processes that:

https://blitz.gg/static/js/main.7c37e4ed.chunk.js

[2022-06-08 17:41] Soundofdarkness commented on #126
Technically yes, but at least personally I don't think I'm going to reverse engineer half-minified js that seems to also include parts of their app for it.

[2022-06-08 18:56] Rerago commented on #126
There app itself is also just displaying the website as far as the runes are concerned. The logic regarding the runes calculation seems to be in this JS. I did not want to do that either, I just wanted to note it does not have to be impossible :D

[2022-07-13 18:40] 11Tuvork28 commented on #126
Its also possible that I choose wrong params for the graphql endpoint. I'm gonna look into it now

[2022-08-28 17:11] Rerago opened #127 "Scrollbar does not work as expected"
If there are too many rune pages, the scrollbar does not appear within the plugin page but on the whole application. We should fix that :)

![image](https://user-images.githubusercontent.com/65850767/187086206-dfd422c8-5f8e-4297-ae56-0f696bac1f85.png)

@11Tuvork28 That shouldn't be a problem for you, should it?

[2022-08-28 17:34] 11Tuvork28 commented on #127
In general not buuuuut I have limited time and to much on my hands. Will see but I don't know why its broken in the first place, need to investigate that

[2022-11-18 07:26] vanTheodore opened #129 "u.gg doesn't work anymore"
As title says, u.gg doesn't work as of 18/11/2022

[2022-11-21 13:20] #129 closed